@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Why Us Section */
.why-us-card {
  transition: .8s;
}

.why-us-card:hover {
  background-color: #FF5E14;
  cursor: pointer;
}

.why-us-card:hover h2,
.why-us-card:hover span,
.why-us-card:hover p {
  color: white;

}

/* Purchase Product Image */
.purchase-product-image{
  cursor: pointer;
  
}
.purchase-product-image:hover img{
  transform: scale(1.2);
  filter: blur(2px);
  transition: .5s;

}